<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>1</string>
	<key>message</key>
	<string>数据请求成功</string>
	<key>data</key>
	<array>
		<dict>
			<key>shopName</key>
			<string>无线分发旗舰店0</string>
			<key>shopId</key>
			<string>1</string>
			<key>isColletion</key>
			<string>1</string>
			<key>shopData</key>
			<array>
				<dict>
					<key>goodsTitle</key>
					<string>无敌旋风小子商品销量获得全年的总冠军，先双十二全面打折，不要99也不要199，只要100，旋风选回家</string>
					<key>goodsPrice</key>
					<string>100</string>
					<key>goodsNumber</key>
					<string>3</string>
					<key>goodsSales</key>
					<string>100</string>
					<key>goodsInventory</key>
					<string>199</string>
				</dict>
				<dict>
					<key>goodsTitle</key>
					<string>无敌旋风小子商品销量获得全年的总冠军，先双十二全面打折，不要99也不要199，只要100，旋风选回家</string>
					<key>goodsPrice</key>
					<string>100</string>
					<key>goodsNumber</key>
					<string>3</string>
					<key>goodsSales</key>
					<string>100</string>
					<key>goodsInventory</key>
					<string>199</string>
				</dict>
				<dict>
					<key>goodsTitle</key>
					<string>无敌旋风小子商品销量获得全年的总冠军，先双十二全面打折，不要99也不要199，只要100，旋风选回家</string>
					<key>goodsPrice</key>
					<string>100</string>
					<key>goodsNumber</key>
					<string>3</string>
					<key>goodsSales</key>
					<string>100</string>
					<key>goodsInventory</key>
					<string>199</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shopName</key>
			<string>无线分发旗舰店1</string>
			<key>shopId</key>
			<string>1</string>
			<key>isColletion</key>
			<string>1</string>
			<key>shopData</key>
			<array>
				<dict>
					<key>goodsTitle</key>
					<string>无敌旋风小子商品销量获得全年的总冠军，先双十二全面打折，不要99也不要199，只要100，旋风选回家</string>
					<key>goodsPrice</key>
					<string>100</string>
					<key>goodsNumber</key>
					<string>3</string>
					<key>goodsSales</key>
					<string>100</string>
					<key>goodsInventory</key>
					<string>199</string>
				</dict>
				<dict>
					<key>goodsTitle</key>
					<string>无敌旋风小子商品销量获得全年的总冠军，先双十二全面打折，不要99也不要199，只要100，旋风选回家</string>
					<key>goodsPrice</key>
					<string>100</string>
					<key>goodsNumber</key>
					<string>3</string>
					<key>goodsSales</key>
					<string>100</string>
					<key>goodsInventory</key>
					<string>199</string>
				</dict>
				<dict>
					<key>goodsTitle</key>
					<string>无敌旋风小子商品销量获得全年的总冠军，先双十二全面打折，不要99也不要199，只要100，旋风选回家</string>
					<key>goodsPrice</key>
					<string>100</string>
					<key>goodsNumber</key>
					<string>3</string>
					<key>goodsSales</key>
					<string>100</string>
					<key>goodsInventory</key>
					<string>199</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shopName</key>
			<string>无线分发旗舰店2</string>
			<key>shopId</key>
			<string>1</string>
			<key>isColletion</key>
			<string>1</string>
			<key>shopData</key>
			<array>
				<dict>
					<key>goodsTitle</key>
					<string>无敌旋风小子商品销量获得全年的总冠军，先双十二全面打折，不要99也不要199，只要100，旋风选回家</string>
					<key>goodsPrice</key>
					<string>100</string>
					<key>goodsNumber</key>
					<string>3</string>
					<key>goodsSales</key>
					<string>100</string>
					<key>goodsInventory</key>
					<string>199</string>
				</dict>
				<dict>
					<key>goodsTitle</key>
					<string>无敌旋风小子商品销量获得全年的总冠军，先双十二全面打折，不要99也不要199，只要100，旋风选回家</string>
					<key>goodsPrice</key>
					<string>100</string>
					<key>goodsNumber</key>
					<string>3</string>
					<key>goodsSales</key>
					<string>100</string>
					<key>goodsInventory</key>
					<string>199</string>
				</dict>
				<dict>
					<key>goodsTitle</key>
					<string>无敌旋风小子商品销量获得全年的总冠军，先双十二全面打折，不要99也不要199，只要100，旋风选回家</string>
					<key>goodsPrice</key>
					<string>100</string>
					<key>goodsNumber</key>
					<string>3</string>
					<key>goodsSales</key>
					<string>100</string>
					<key>goodsInventory</key>
					<string>199</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shopName</key>
			<string>无线分发旗舰店3</string>
			<key>shopId</key>
			<string>1</string>
			<key>isColletion</key>
			<string>1</string>
			<key>shopData</key>
			<array>
				<dict>
					<key>goodsTitle</key>
					<string>无敌旋风小子商品销量获得全年的总冠军，先双十二全面打折，不要99也不要199，只要100，旋风选回家</string>
					<key>goodsPrice</key>
					<string>100</string>
					<key>goodsNumber</key>
					<string>3</string>
					<key>goodsSales</key>
					<string>100</string>
					<key>goodsInventory</key>
					<string>199</string>
				</dict>
				<dict>
					<key>goodsTitle</key>
					<string>无敌旋风小子商品销量获得全年的总冠军，先双十二全面打折，不要99也不要199，只要100，旋风选回家</string>
					<key>goodsPrice</key>
					<string>100</string>
					<key>goodsNumber</key>
					<string>3</string>
					<key>goodsSales</key>
					<string>100</string>
					<key>goodsInventory</key>
					<string>199</string>
				</dict>
				<dict>
					<key>goodsTitle</key>
					<string>无敌旋风小子商品销量获得全年的总冠军，先双十二全面打折，不要99也不要199，只要100，旋风选回家</string>
					<key>goodsPrice</key>
					<string>100</string>
					<key>goodsNumber</key>
					<string>3</string>
					<key>goodsSales</key>
					<string>100</string>
					<key>goodsInventory</key>
					<string>199</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shopName</key>
			<string>无线分发旗舰店4</string>
			<key>shopId</key>
			<string>1</string>
			<key>isColletion</key>
			<string>1</string>
			<key>shopData</key>
			<array>
				<dict>
					<key>goodsTitle</key>
					<string>无敌旋风小子商品销量获得全年的总冠军，先双十二全面打折，不要99也不要199，只要100，旋风选回家</string>
					<key>goodsPrice</key>
					<string>100</string>
					<key>goodsNumber</key>
					<string>3</string>
					<key>goodsSales</key>
					<string>100</string>
					<key>goodsInventory</key>
					<string>199</string>
				</dict>
				<dict>
					<key>goodsTitle</key>
					<string>无敌旋风小子商品销量获得全年的总冠军，先双十二全面打折，不要99也不要199，只要100，旋风选回家</string>
					<key>goodsPrice</key>
					<string>100</string>
					<key>goodsNumber</key>
					<string>3</string>
					<key>goodsSales</key>
					<string>100</string>
					<key>goodsInventory</key>
					<string>199</string>
				</dict>
				<dict>
					<key>goodsTitle</key>
					<string>无敌旋风小子商品销量获得全年的总冠军，先双十二全面打折，不要99也不要199，只要100，旋风选回家</string>
					<key>goodsPrice</key>
					<string>100</string>
					<key>goodsNumber</key>
					<string>3</string>
					<key>goodsSales</key>
					<string>100</string>
					<key>goodsInventory</key>
					<string>199</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shopName</key>
			<string>无线分发旗舰店5</string>
			<key>shopId</key>
			<string>1</string>
			<key>isColletion</key>
			<string>1</string>
			<key>shopData</key>
			<array>
				<dict>
					<key>goodsTitle</key>
					<string>无敌旋风小子商品销量获得全年的总冠军，先双十二全面打折，不要99也不要199，只要100，旋风选回家</string>
					<key>goodsPrice</key>
					<string>100</string>
					<key>goodsNumber</key>
					<string>3</string>
					<key>goodsSales</key>
					<string>100</string>
					<key>goodsInventory</key>
					<string>199</string>
				</dict>
				<dict>
					<key>goodsTitle</key>
					<string>无敌旋风小子商品销量获得全年的总冠军，先双十二全面打折，不要99也不要199，只要100，旋风选回家</string>
					<key>goodsPrice</key>
					<string>100</string>
					<key>goodsNumber</key>
					<string>3</string>
					<key>goodsSales</key>
					<string>100</string>
					<key>goodsInventory</key>
					<string>199</string>
				</dict>
				<dict>
					<key>goodsTitle</key>
					<string>无敌旋风小子商品销量获得全年的总冠军，先双十二全面打折，不要99也不要199，只要100，旋风选回家</string>
					<key>goodsPrice</key>
					<string>100</string>
					<key>goodsNumber</key>
					<string>3</string>
					<key>goodsSales</key>
					<string>100</string>
					<key>goodsInventory</key>
					<string>199</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
